.nav-mobile-toggle {
  border: none;
  display: none;
}

.hidden {
  display: none;
}

nav {
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--dark-grey);
}
nav .nav-logo {
  height: 70px;
  width: auto;
}
nav .nav-logo #nav-logo-text {
  height: 70px;
  width: auto;
}
nav .nav-links-container {
  transition: 340ms;
}
nav .nav-links-container .nav-link {
  font-size: 13px;
  letter-spacing: 3px;
  text-decoration: none;
  color: white;
  margin-left: 45px;
}
nav .nav-links-container .nav-link:hover {
  color: var(--orange);
}

@media (max-width: 810px) {
  .nav-mobile-toggle {
    z-index: 2;
    display: initial;
    position: absolute;
    top: 25px;
    right: 10px;
    cursor: pointer;
  }
  .nav-mobile-toggle i {
    display: block;
    width: 20px;
    height: 2px;
    background: #fff;
  }
  .nav-mobile-toggle i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }
  .nav-mobile-toggle i:nth-child(3) {
    margin-top: 4px;
  }

  nav {
    height: 70px;
  }
  nav .nav-logo {
    z-index: 2;
    height: 50px;
  }
  nav .nav-logo #nav-logo-text {
    height: 50px;
  }
  nav .nav-links-container.active {
    right: 0;
  }
  nav .nav-links-container {
    position: fixed;
    top: 0;
    right: -100%;
    min-height: 100vh;
    width: 50%;
    display: flex;
    height: -webkit-fill-available;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background: var(--dark-grey);
  }
  nav .nav-links-container .nav-link {
    margin: 20px 30px 20px 45px;
  }
}
.banner-image {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.home-page-grid {
  display: flex;
  padding: 20px 0;
}
.home-page-grid .news-section, .home-page-grid .featured-albums-section {
  width: 50%;
}
.home-page-grid .news-section {
  padding-right: 30px;
}
.home-page-grid .news-section #news-link {
  border-bottom: none;
  width: auto;
  font-size: 24px;
  padding-top: 20px;
}
.home-page-grid .featured-albums-section {
  padding-left: 30px;
}
.home-page-grid .featured-albums-section .featured-albums-grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}
.home-page-grid .featured-albums-section .featured-albums-grid a:nth-child(even) {
  padding-left: 10px;
}
.home-page-grid .featured-albums-section .featured-albums-grid a:nth-child(odd) {
  padding-right: 10px;
}
.home-page-grid .featured-albums-section .featured-albums-grid .featured-albums-card {
  width: 50%;
  padding: 10px 0;
  text-decoration: none;
}
.home-page-grid .featured-albums-section .featured-albums-grid .featured-albums-card .featured-albums-cover-wrapper {
  width: 100%;
}
.home-page-grid .featured-albums-section .featured-albums-grid .featured-albums-card .featured-albums-cover-wrapper .featured-albums-cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.home-page-grid .featured-albums-section .featured-albums-grid .featured-albums-card .featured-albums-title {
  color: white;
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
}

@media (max-width: 1100px) {
  .home-page-grid .news-section {
    padding-right: 15px;
  }
  .home-page-grid .featured-albums-section {
    padding-left: 15px;
  }
  .home-page-grid .featured-albums-section .featured-albums-grid a {
    padding: 20px 0 !important;
  }
  .home-page-grid .featured-albums-section .featured-albums-grid .featured-albums-card {
    width: 100%;
  }
}
@media (max-width: 810px) {
  .banner-image {
    height: 20vh;
  }

  .home-page-grid {
    flex-direction: column;
  }
  .home-page-grid .news-section, .home-page-grid .featured-albums-section {
    width: 100%;
    padding: 0;
  }
  .home-page-grid .news-section {
    padding-bottom: 20px;
  }
}
.items-grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}
.items-grid .item-card {
  width: 25%;
  padding: 10px 5px;
}
.items-grid .item-card .item-name {
  font-size: 28px;
  color: white;
  border-bottom: 1px solid #fff;
}
.items-grid .item-card .item-image-wrapper {
  width: 100%;
}
.items-grid .item-card .item-image-wrapper .item-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .items-grid .item-card {
    width: 33%;
  }
}
@media (max-width: 810px) {
  .items-grid .item-card {
    width: 50%;
  }
}
@media (max-width: 600px) {
  .items-grid .item-card {
    width: 100%;
  }
}
.artist-details-name-mobile {
  display: none;
  font-size: 28px;
}

.artist-details-name-desktop {
  display: inline-block;
}

.artist-details-grid {
  display: flex;
}
.artist-details-grid .artist-details-info, .artist-details-grid .artist-details-albums {
  width: 50%;
  padding: 0 10px;
}
.artist-details-grid .artist-details-info .artist-details-image-wrapper {
  width: 100%;
  padding-bottom: 10px;
}
.artist-details-grid .artist-details-info .artist-details-image-wrapper .artist-details-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.artist-details-grid .artist-details-albums {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.artist-details-grid .artist-details-albums h1 {
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
}
.artist-details-grid .artist-details-albums .artist-details-albums-grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  padding-bottom: 10px;
}
.artist-details-grid .artist-details-albums .artist-details-albums-grid .artist-details-album-card {
  width: 50%;
  padding: 15px 5px;
  text-decoration: none;
}
.artist-details-grid .artist-details-albums .artist-details-albums-grid .artist-details-album-card .artist-details-album-cover-wrapper {
  width: 100%;
}
.artist-details-grid .artist-details-albums .artist-details-albums-grid .artist-details-album-card .artist-details-album-cover-wrapper .artist-details-album-cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.artist-details-grid .artist-details-albums .artist-details-albums-grid .artist-details-album-card .artist-details-album-title {
  font-size: 28px;
  color: white;
  border-bottom: 1px solid #fff;
}

@media (max-width: 1000px) {
  .artist-details-name-desktop {
    display: none;
  }

  .artist-details-name-mobile {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
  }

  .artist-details-grid {
    flex-direction: column;
  }
  .artist-details-grid .artist-details-info, .artist-details-grid .artist-details-albums {
    width: 100%;
  }
  .artist-details-grid .artist-details-info p {
    padding-top: 10px;
  }
  .artist-details-grid .artist-details-albums {
    padding-top: 10px;
  }
  .artist-details-grid .artist-details-albums .artist-details-albums-grid {
    padding-top: 10px;
  }
  .artist-details-grid .artist-details-albums .artist-details-albums-grid .artist-details-album-card {
    width: 100%;
    padding: 15px 0;
  }
}
.album-details-grid {
  display: flex;
}
.album-details-grid .album-details-image-wrapper, .album-details-grid .album-details-info {
  padding: 10px;
}
.album-details-grid .album-details-image-wrapper {
  width: 50%;
}
.album-details-grid .album-details-image-wrapper .album-details-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.album-details-grid .album-details-info {
  width: 50%;
}
.album-details-grid .album-details-info a {
  text-transform: uppercase;
  color: white;
  font-size: 13px;
  letter-spacing: 3px;
  text-decoration: none;
}
.album-details-grid .album-details-info a:hover {
  color: var(--orange);
}
.album-details-grid .album-details-info .album-details-album-title {
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
}
.album-details-grid .album-details-info .album-details-album-date {
  font-weight: 300;
  letter-spacing: 1px;
  color: var(--light-grey);
}
.album-details-grid .album-details-info h4 {
  padding-top: 10px;
}
.album-details-grid .album-details-info .icon-container .icons-stream, .album-details-grid .album-details-info .icon-container .icons-buy {
  margin: 10px auto;
}
.album-details-grid .album-details-info .icon-header {
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 3px;
  padding: 20px 0 10px 0;
}
.album-details-grid .album-details-info .album-details-icon {
  height: 50px;
  width: auto;
  margin-right: 15px;
}

@media (max-width: 1000px) {
  .album-details-grid {
    flex-direction: column;
  }
  .album-details-grid .album-details-image-wrapper, .album-details-grid .album-details-info {
    width: 100%;
  }
}
.contact-map-container {
  width: 40%;
}
.contact-map-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.contact-text-container {
  width: 55%;
  padding-left: 5%;
}
.contact-text-container .contact-text-heading {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 13px;
  padding: 10px 0;
}
.contact-text-container .contact-text-time {
  font-weight: 300;
  letter-spacing: 1px;
  color: var(--light-grey);
}

@media (max-width: 1100px) {
  .contact-map-container, .contact-text-container {
    width: 100%;
  }

  .contact-text-container {
    padding: 10px 0;
  }
}
.news-container {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  padding-right: 30px;
}

.news-article {
  padding: 20px 5px;
  border-bottom: 1px solid var(--mid-grey);
}
.news-article .news-banner-image {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  padding: 5px 0;
}
.news-article h2 {
  padding-top: 5px;
}
.news-article h4 {
  font-weight: 300;
  letter-spacing: 1px;
  padding: 5px 0;
  color: var(--light-grey);
}

@media (max-width: 1100px) {
  .news-container {
    width: 100%;
    padding-right: initial;
  }
}
.events-container {
  width: 40%;
  padding: 20px 5px 20px 30px;
}
.events-container .event-item {
  border-bottom: 1px solid var(--mid-grey);
  padding: 10px 0;
}
.events-container .event-item h4 {
  font-weight: 300;
  letter-spacing: 1px;
  padding: 5px 0;
  color: var(--light-grey);
}

@media (max-width: 1100px) {
  .events-container {
    width: 100%;
    padding: 20px 5px;
  }
}
footer {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #fff;
  margin-top: 10px;
}

:root {
  font-size: 16px;
  scroll-behavior: smooth;
  --dark-grey: #262626;
  --mid-grey: #6d6d6d;
  --light-grey: #dddddd;
  --orange: #f3663c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: "Helvetica Neue", "Arial";
  background-color: var(--dark-grey);
  color: white;
}

h1 {
  font-size: 56px;
  font-weight: bold;
}

p {
  font-size: 16px;
  line-height: 24px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: var(--orange);
}

.container {
  padding: 0 120px;
}

.page-container {
  padding: 0 120px;
}

.flex-page-container {
  display: flex;
}

.h1-page-header {
  font-size: 28px;
  border-bottom: 1px solid #fff;
  padding: 0 5px 0 5px;
  width: 100%;
  display: inline-block;
  font-weight: bold;
}

@media (max-width: 1100px) {
  .container {
    margin: 0 10px;
    padding: 0;
  }

  .page-container {
    padding: 0 10px;
  }

  .flex-page-container {
    flex-direction: column;
  }
}
@media (max-width: 810px) {
  h1 {
    font-size: 40px;
  }

  p {
    font-size: 14px;
  }
}

/*# sourceMappingURL=main.css.map */
