.nav-mobile-toggle {
  border: none;
  display: none;
}

.hidden {
  display: none;
}

nav {
  height: 50px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  position: absolute;
}
nav .nav-logo {
  height: 50px;
  width: 50px;
}
nav .nav-logo img {
  height: 50px;
  width: 50px;
}
nav .nav-links-container {
  transition: 340ms;
}
nav .nav-links-container .nav-link {
  font-size: 13px;
  letter-spacing: 3px;
  text-decoration: none;
  color: white;
  margin-left: 45px;
}
nav .nav-links-container .nav-link:hover {
  border-bottom: 1px solid white;
}

@media (max-width: 810px) {
  .nav-mobile-toggle {
    z-index: 2;
    display: initial;
    position: absolute;
    top: 35px;
    right: 30px;
    cursor: pointer;
  }
  .nav-mobile-toggle i {
    display: block;
    width: 20px;
    height: 2px;
    background: #fff;
  }
  .nav-mobile-toggle i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }
  .nav-mobile-toggle i:nth-child(3) {
    margin-top: 4px;
  }

  nav .nav-logo {
    z-index: 2;
  }
  nav .nav-links-container.active {
    right: 0;
  }
  nav .nav-links-container {
    position: fixed;
    top: 0;
    right: -100%;
    min-height: 100vh;
    width: 50%;
    display: flex;
    height: -webkit-fill-available;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background: var(--dark-grey);
  }
  nav .nav-links-container .nav-link {
    margin: 20px 30px 20px 45px;
  }
}
.artists-grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}
.artists-grid .artist-card {
  width: 25%;
  padding: 10px 5px;
}
.artists-grid .artist-card .artist-name {
  font-size: 28px;
  color: white;
  border-bottom: 1px solid #fff;
}
.artists-grid .artist-card .artist-image-wrapper {
  width: 100%;
}
.artists-grid .artist-card .artist-image-wrapper .artist-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .artists-grid .artist-card {
    width: 33%;
  }
}
@media (max-width: 810px) {
  .artists-grid .artist-card {
    width: 50%;
  }
}
@media (max-width: 600px) {
  .artists-grid .artist-card {
    width: 100%;
  }
}
.artist-details-grid {
  display: flex;
}
.artist-details-grid .artist-details-info, .artist-details-grid .artist-details-albums {
  width: 50%;
  padding: 0 10px;
}
.artist-details-grid .artist-details-info .artist-details-image-wrapper {
  width: 100%;
  padding-bottom: 10px;
}
.artist-details-grid .artist-details-info .artist-details-image-wrapper .artist-details-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.artist-details-grid .artist-details-albums {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.artist-details-grid .artist-details-albums h1 {
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
}
.artist-details-grid .artist-details-albums .artist-details-albums-grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  padding-bottom: 10px;
}
.artist-details-grid .artist-details-albums .artist-details-albums-grid .artist-details-album-card {
  width: 50%;
  padding: 15px 5px;
  text-decoration: none;
}
.artist-details-grid .artist-details-albums .artist-details-albums-grid .artist-details-album-card .artist-details-album-cover-wrapper {
  width: 100%;
}
.artist-details-grid .artist-details-albums .artist-details-albums-grid .artist-details-album-card .artist-details-album-cover-wrapper .artist-details-album-cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.artist-details-grid .artist-details-albums .artist-details-albums-grid .artist-details-album-card .artist-details-album-title {
  font-size: 28px;
  color: white;
  border-bottom: 1px solid #fff;
}

@media (max-width: 1000px) {
  .artist-details-grid {
    flex-direction: column;
  }
  .artist-details-grid .artist-details-info, .artist-details-grid .artist-details-albums {
    width: 100%;
  }
  .artist-details-grid .artist-details-albums {
    padding-top: 10px;
  }
  .artist-details-grid .artist-details-albums .artist-details-albums-grid {
    padding-top: 10px;
  }
  .artist-details-grid .artist-details-albums .artist-details-albums-grid .artist-details-album-card {
    width: 100%;
    padding: 15px 0;
  }
}
.album-details-grid {
  display: flex;
}
.album-details-grid .album-details-image-wrapper, .album-details-grid .album-details-info {
  padding: 10px;
}
.album-details-grid .album-details-image-wrapper {
  width: 50%;
}
.album-details-grid .album-details-image-wrapper .album-details-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.album-details-grid .album-details-info {
  width: 50%;
}
.album-details-grid .album-details-info a {
  text-transform: uppercase;
  color: white;
  font-size: 13px;
  letter-spacing: 3px;
  text-decoration: none;
}
.album-details-grid .album-details-info a:hover {
  border-bottom: 1px solid white;
}
.album-details-grid .album-details-info .album-details-album-title {
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
}
.album-details-grid .album-details-info h4 {
  padding-top: 10px;
}

:root {
  font-size: 16px;
  scroll-behavior: smooth;
  --dark-grey: #262626;
  --mid-grey: #4b4b4b;
  --light-grey: #6d6d6d;
  --orange: #e3623c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: "Helvetica Neue", "Arial";
  background-color: var(--dark-grey);
  color: white;
}

h1 {
  font-size: 56px;
  font-weight: bold;
}

p {
  font-size: 16px;
  line-height: 24px;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 120px;
}

.page-container {
  padding: 100px 120px;
}

@media (max-width: 810px) {
  .container {
    margin: 0 30px;
  }

  .page-container {
    padding: 90px 30px;
  }

  h1 {
    font-size: 40px;
  }

  p {
    font-size: 14px;
  }
}

/*# sourceMappingURL=main.css.map */
