.album-details-grid {
    display: flex;

    .album-details-image-wrapper, .album-details-info {
        padding: 10px;
    }

    .album-details-image-wrapper {
        width: 50%;

        .album-details-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .album-details-info {
        width: 50%;

        a {
            text-transform: uppercase;
            color: white;
            font-size: 13px;
            letter-spacing: 3px;
            text-decoration: none;
        }

        a:hover {
            border-bottom: 1px solid white;
        }

        .album-details-album-title {
            padding-bottom: 10px;
            border-bottom: 1px solid #fff;
        }

        h4 {
            padding-top: 10px;
        }
    }
}

@media (max-width: 1000px) {
    .album-details-grid {
        flex-direction: column;

        .album-details-image-wrapper, .album-details-info {
            width: 100%;
        }
    }
}