.artists-grid {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;

    .artist-card {
        width: 25%;
        padding: 10px 5px;

        .artist-name {
            font-size: 28px;
            color: white;
            border-bottom: 1px solid #fff;
        }

        .artist-image-wrapper {
            width: 100%;

            .artist-image {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

@media (max-width: 1200px) {
    .artists-grid {
        .artist-card {
            width: 33%;
        }
    }
}

@media (max-width: 810px) {
    .artists-grid {
        .artist-card {
            width: 50%;
        }
    }
}

@media (max-width: 600px) {
    .artists-grid {
        .artist-card {
            width: 100%;
        }
    }
}
