.events-container {
    width: 40%;
    padding: 20px 5px 20px 30px;

    .event-item {
        border-bottom: 1px solid var(--mid-grey);
        padding: 10px 0;

        h4 {
            font-weight: 300;
            letter-spacing: 1px;
            padding: 5px 0;
            color: var(--light-grey);
        }
    }
}

@media (max-width: 1100px) {
    .events-container {
        width: 100%;
        padding: 20px 5px;
    }
}