.items-grid {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;

    .item-card {
        width: 25%;
        padding: 10px 5px;

        .item-name {
            font-size: 28px;
            color: white;
            border-bottom: 1px solid #fff;
        }

        .item-image-wrapper {
            width: 100%;

            .item-image {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

@media (max-width: 1200px) {
    .items-grid {
        .item-card {
            width: 33%;
        }
    }
}

@media (max-width: 810px) {
    .items-grid {
        .item-card {
            width: 50%;
        }
    }
}

@media (max-width: 600px) {
    .items-grid {
        .item-card {
            width: 100%;
        }
    }
}
