.banner-image {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.home-page-grid {
    display: flex;
    padding: 20px 0;

    .news-section, .featured-albums-section {
        width: 50%;
    }

    .news-section {
        padding-right: 30px;

        #news-link {
            border-bottom: none;
            width: auto;
            font-size: 24px;
            padding-top: 20px;
        }
    }

    .featured-albums-section {
        padding-left: 30px;

        .featured-albums-grid {
            display: flex;
            flex-wrap: wrap;
            max-width: 100%;

            a:nth-child(even) {
                padding-left: 10px;
            }

            a:nth-child(odd) {
                padding-right: 10px;
            }

            .featured-albums-card {
                width: 50%;
                padding: 10px 0;
                text-decoration: none;

                .featured-albums-cover-wrapper {
                    width: 100%;

                    .featured-albums-cover {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }

                .featured-albums-title {
                    color: white;
                    border-bottom: 1px solid #fff;
                    padding-bottom: 5px;
                }
            }
        }
    }
}

@media (max-width: 1100px) {
    .home-page-grid {
        .news-section {
            padding-right: 15px;
        }

        .featured-albums-section {
            padding-left: 15px;
            
            .featured-albums-grid {
                a {
                    padding: 20px 0 !important; 
                }
                
                .featured-albums-card {
                    width: 100%;
                }
            }
        } 
    }
}

@media (max-width: 810px) {
    .banner-image {
        height: 20vh;
    }

    .home-page-grid {
        flex-direction: column;

        .news-section, .featured-albums-section {
            width: 100%;
            padding: 0;
        }

        .news-section {
            padding-bottom: 20px;
        }
    }
}
